<h1>Binh beo</h1>


<a class="nav-link active" aria-disabled="true" href="/cameara-data">camera_data</a>
<a class="nav-link active" aria-disabled="true" href="/staff-management">staff_management</a>
<a class="nav-link active" aria-disabled="true" href="/parking-lot-management">parking_lot_management</a>
<a class="nav-link active" aria-disabled="true" href="/vehicle-management">vehicle-management</a>
<button> <a class="nav-link active" aria-disabled="true" href="/import-data">import</a></button>